@import './assets/css/base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  background: transparent;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.barcode-scanner-active {
  visibility: hidden;
  opacity: 0;
}

.barcode-scanner-modal {
  visibility: visible;
}

.btn {
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-family: Manrope, sans-serif;
  outline: 0;
  transition: opacity 0.2s ease;
}

.btn:hover {
  opacity: 0.85;
}

.btn.btn-primary {
  background-color: var(--color-btn-primary-bg);
  color: var(--color-btn-primary);
}

button[type='submit'] {
  margin-top: 1rem;
}

button[disabled] {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}

a[class] {
  cursor: pointer;
}

.disable-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

.disable-scrollbars *::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

.disable-scrollbars * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#app {
  background: transparent;
  font-weight: normal;
}

.banner {
  background-color: var(--color-btn-primary-bg);
  color: var(--color-btn-primary);
}

.title {
  color: #343434;
}

.title p {
  font-weight: 600;
  font-size: 1rem;
}

.title small {
  font-size: 0.75rem;
}

.search-form {
  height: 50px;
  border-radius: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.back-link {
  color: var(--color-blue);
}
